*{margin:0;padding:0;outline:0;}
body{
		font-family:arial;
		font-size:16px;
		line-height:18px;
		color:#333;
		background-color:#514037;
	}

	.template{
		width:960px;
		margin:0 auto;
		}
    .clear{overflow:hidden;}
	.headersection{
		background-color:#000000;
		height:80px;
		}
	
	.header{}
	
	.headerleftt{ 
		width:300px;
		float:left;
		color:#fff;
		}
	
	.headerleftt h2 {
		 font-size: 36px;
		 line-height: 80px;
		 margin-left: 15px;
		 }
   
   .headerright {
		width: 643px;
		float: right;
		margin-top: 29px;
		margin-right: -162px;
		}
   .headerright a {
		display: inline-block;
		text-decoration: none;
		font-size: 20px;
		color: #999;
		margin-right: 17px;
		padding: 8px;
		border-right: 1px solid #504037;
   
		}
	.headerright a:hover{
		background-color:#fff;
		color:#666;
			border-radius:4px
		}
	
	
	#active{
		background-color:#fff;
		border-radius:4px
		}
	
	.mainsection{background-color:#fff;}
	
	.slowgan{
		margin-left:50px;
		margin-right:50px;
		 margin-top:15px;
		border-bottom: 1px dotted gray;
		padding-bottom: 24px;
   
	}
	
	.slowgan h1{
		font-size:45px;
		color:#000;
		line-height:50px;
		}
	
   
   .slowgan h2{
		font-size: 35px;
		line-height: 30px;
		color: gray;
		font-weight:normal
		}

  
	.description{
		margin: 20px 50px 50px 50px;
		line-height: 30px;
		color: #000;
		font-size: 29px;
		border-bottom: 1px dotted gray;
		padding-bottom: 28px;
		}
	
	.description p{text-align:justify;}
	
	.contentsection{}
	
	.services{
		background-color:#0099EA;
		width: 253px;
		margin-left:50px;
		margin-bottom:9px;
		float:left;
		}
	.services h2{
		text-align: center;
		color: #fff;
		border-bottom: 1px dotted #fff;
		margin-top: 10px;
		padding-bottom: 9px;
		}
	
	.services p{    
		font-size: 22px;
		line-height: 31px;
		text-align: justify;
		margin-top: 10px;
		margin-bottom: 10px;}
	
	.services:hover{
		transition:all .6s ease;
		box-shadow: 4px 4px 4px 4px gray;}
		
	.readmore{
		text-align: center;
		padding-bottom: 10px;}
	
	.readmore a{
		font-size: 17px;
		text-decoration: none;
		border: 1px solid #514037;
		background-color: #0099A3;
		color: #fff;
		border-radius: 4px;
	}
	.readmore a:hover{background:#000;
	color:#fff;}
	
	.mainbottom{
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px dotted gray;
		border-bottom: 1px dotted gray;
		padding-bottom: 20px;
		}
	
	.clientsection{
		width: 400px;
		float: left;
		border-right: 1px dotted gray;
		padding-right: 10px;
		margin-right: 10px;
		margin-bottom: 10px;}
	
	.clientsection h2{
		font-size: 25px;
		color: #666;
		line-height: 25px;
}
	
	
	.testimonial{
		margin-top:20px;
	}
	.clientimage{
		float:left;
		width:60px;
		margin-right:10px;}
	
	.clientimage img{
		width:60px;
		height:60px;}
	
	.clientdesc{float:left;width:330px;height:100px;}
	.clientdesc p{
		font-size: 18px;
		line-height: 22px;
		}
	
	.clientname{color:#000;
		margin-top:5px;
		font-weight:bold;
		margin-bottom:5px;}
	
	
	.clientdesc a{color:#0099EA;
		text-decoration: none;
		font-weight: bold;
        
		}
	
	.clientdesc a:hover{background-color:#fff;color:#000;}
	.projectsection{width:400px; float:right;}
	
	.projectsection h2{
		font-size: 25px;
		color: #666;
		line-height: 25px;
}
	
	.projectsection h3{ color:#777;
		margin-bottom:8px;
		margin-top:8px;}
	
	
	.projectsection img{
		width: 390px;
		height: 185px;
		margin-bottom: 20px;
		padding: 15px;
	}
	
	.projectsection p{    
		font-size: 18px;
		line-height: 24px;
		text-align: justify;
		margin-bottom: 20px;
		}
		
	.projectsection a{
		font-size: 18px;
		color: #0099EA;
		text-decoration: none;
		}
		
	
	.projectsection a:hover{
		color:#000;
		text-decoration:underline;
		}
	
	.footersection{ 
	background-color:#999;
	height:60px;
	}
	.footersection p{    
		font-size: 20px;
		text-align: center;
		margin: 10px;
		padding: 10px;
	}
 